@font-face {
    font-family: "hct-font-icon";
    src: url('./hct-font-icon.eot');
    src: url('./hct-font-icon.eot?#iefix') format('eot'),
    url('./hct-font-icon.woff') format('woff'),
    url('./hct-font-icon.ttf') format('truetype'),
    url('./hct-font-icon.svg#hct-font-icon') format('svg');
}

.hct-font-icon:before {
    font-family: "hct-font-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}


.hct-font-icon-arrow-down:before {
   content: "\E001";
}

.hct-font-icon-arrow-left:before {
   content: "\E002";
}

.hct-font-icon-arrow-right:before {
   content: "\E003";
}

.hct-font-icon-arrow-up-line:before {
   content: "\E004";
}

.hct-font-icon-arrow-up:before {
   content: "\E005";
}

.hct-font-icon-check-circle-o:before {
   content: "\E006";
}

.hct-font-icon-check-circle-solid:before {
   content: "\E007";
}

.hct-font-icon-check-square-o:before {
   content: "\E008";
}

.hct-font-icon-check:before {
   content: "\E009";
}

.hct-font-icon-close-o:before {
   content: "\E00A";
}

.hct-font-icon-close-solid:before {
   content: "\E00B";
}

.hct-font-icon-close:before {
   content: "\E00C";
}

.hct-font-icon-customer-service:before {
   content: "\E00D";
}

.hct-font-icon-emotion-error:before {
   content: "\E00E";
}

.hct-font-icon-emotion-success:before {
   content: "\E00F";
}

.hct-font-icon-emotion-waiting:before {
   content: "\E010";
}

.hct-font-icon-eye:before {
   content: "\E011";
}

.hct-font-icon-filter:before {
   content: "\E012";
}

.hct-font-icon-info-circle-solid:before {
   content: "\E013";
}

.hct-font-icon-list:before {
   content: "\E014";
}

.hct-font-icon-location:before {
   content: "\E015";
}

.hct-font-icon-more:before {
   content: "\E016";
}

.hct-font-icon-orderby:before {
   content: "\E017";
}

.hct-font-icon-qq-o:before {
   content: "\E018";
}

.hct-font-icon-qq:before {
   content: "\E019";
}

.hct-font-icon-qrcode:before {
   content: "\E01A";
}

.hct-font-icon-search:before {
   content: "\E01B";
}

.hct-font-icon-share:before {
   content: "\E01C";
}

.hct-font-icon-sina-o:before {
   content: "\E01D";
}

.hct-font-icon-sina:before {
   content: "\E01E";
}

.hct-font-icon-square-o:before {
   content: "\E01F";
}

.hct-font-icon-star-solid:before {
   content: "\E020";
}

.hct-font-icon-star:before {
   content: "\E021";
}

.hct-font-icon-tel:before {
   content: "\E022";
}

.hct-font-icon-warn-circle-solid:before {
   content: "\E023";
}

.hct-font-icon-wating-o:before {
   content: "\E024";
}

.hct-font-icon-wechat-o:before {
   content: "\E025";
}

.hct-font-icon-wechat:before {
   content: "\E026";
}